<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <script src="/js/angular.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/maincontroller.js" type="text/javascript"></script>
    <script src="/js/formcontroller.js" type="text/javascript"></script>
</head>
<body>
<div id='content' ng-app='SimpleDropWizardNTier'>
    <div id='productlisting' class="productlisting" ng-controller='MainController'>
        <h1>Product Listing</h1>
        <table>
            <tr>
                <!--<th>ID</th>-->
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            <tr ng-repeat='product in products.products'>
                <!--<td>{{product.id}}</td>-->
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td><a href="" ng-click="handleDelete(product.id)">Delete</a></td>
            </tr>
        </table>
        <p>{{products.servers}}</p>
    </div>
    <div id="addproduct" class="formlayout">
        <form action='#' ng-controller='FormController' ng-submit="submitForm()">
            <label>Name <input type="text" ng-model='newproduct.name'></label>
            <label>Description <input type="text" ng-model='newproduct.description'></label>
            <input type="submit"/>
        </form>
    </div>
</div>
</body>
</html>