<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>Product Listing</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {{#products.products}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{description}}</td>
        <td>
            <ul class="links">
                <li>Edit</li>
                <li>Delete</li>
            </ul>
        </td>
    </tr>
    {{/products.products}}
</table>
</body>
</html>