table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

ul.links { list-style: none; margin: 0; padding: 0; }
ul.links li { display: inline; }
ul.links li:after { content: " "; }
ul.links li:last-child:after { content: ""; }

div + div {
    margin-top: 20px;
}

.formLayout {
    background-color: #f3f3f3;
    border: solid 1px #a1a1a1;
    padding: 10px;
    width: 300px;
}

.formLayout label {
    text-align: right;
    padding-right: 20px;
    float: left;
    clear: left;
}

label + label {
    margin-top: 10px;
}
